        <div ng-hide="authenticated" class="jumbotron">
          <h1>Enter an Age of High Adventure</h1> 
          <p>Exordium is a character creation aid for the &ldquo;Barbarians of Lemuria&rdquo; pen and paper roleplaying game.</p> 
          <ul class="list-inline">
            <li>Already registered? <a href="#login">Login!</a></li>
            <li>Not registered yet? <a href="#sign-up">Signup!</a></li>
          </ul>
        </div> <!-- end jumbotron -->

        <div id="editor-panel" ng-show="authenticated" class="panel panel-default">
          <div class="panel-body">    
            <div class="row">
              <nav id="character-selector" class="col-sm-3">
                <ul class="nav nav-stacked">
                  <li ng-show="showNewCharacterLink" class="selected"><a href="">New Character <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                  <li ng-repeat="character in userProfile.characters | orderBy:'name'" ng-class="{ selected: isEditing(character.id) }"><a href="" ng-click="selectCharacter(character.id)">{{character.name}} <span class="glyphicon glyphicon-chevron-right pull-right" ng-show="isEditing(character.id)"></span></a></li>
                </ul>
              </nav> <!-- end #character-selector-->
              <form id="character-editor" class="col-sm-9" ng-submit="saveCharacter()">
                <input type="hidden" ng-model="currentCharacter.id">
                <div class="form-group">
                  <label for="name" class="control-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Character name" required ng-model="currentCharacter.name">
                </div>
                <p ng-show="badAttributePoints" class="bg-danger">Attribute points are not assigned correctly.</p>
                <div class="form-group">
                  <label for="unassigned-attribute-points" class="control-label">Unassigned Points</label>
                  <input type="number" min="0" max="5" class="form-control" id="unassigned-attribute-points" placeholder="Unassigned attribute points" required ng-model="currentCharacter.unassigned_attribute_points">
                </div>
                <div class="form-group">
                  <label for="strength" class="control-label">Strength</label>
                  <input type="number" min="-1" max="4" class="form-control" id="strength" placeholder="Strength points" required ng-model="currentCharacter.strength">
                </div>
                <div class="form-group">
                  <label for="agility" class="control-label">Agility</label>
                  <input type="number" min="-1" max="4" class="form-control" id="agility" placeholder="Agility points" required ng-model="currentCharacter.agility">
                </div>
                <div class="form-group">
                  <label for="mind" class="control-label">Mind</label>
                  <input type="number" min="-1" max="4" class="form-control" id="mind" placeholder="Mind points" required ng-model="currentCharacter.mind">
                </div>
                <div class="form-group">
                  <label for="appeal" class="control-label">Appeal</label>
                  <input type="number" min="-1" max="4" class="form-control" id="appeal" placeholder="Appeal points" required ng-model="currentCharacter.appeal">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Save</button> <button type="button" class="btn btn-primary" ng-click="deleteCharacter(currentCharacter.id)" ng-show="currentCharacter.id"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
                </div>    
              </form>              
            </div>
          </div> 
        </div> <!-- end #editor-panel -->