body {
	background: url("Church_Cotopaxi_1862.jpg") no-repeat center center fixed; 
  	background-size: cover;
	color: #efefef !important;
	text-shadow: 1px 1px #080808;	
}

#content .jumbotron {
	background-color: rgba(119, 136, 153, 0.2)
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 2px 2px #4f4f4f;
}