{% extends "chargen/base.html" %}

{% block nav %}

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Exordium</h3>
              <!-- <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
              -->
            </div>
          </div>

{% endblock %}

{% block content %}

          <div class="inner cover">
            <h1 class="cover-heading">Heroes for an Age of High Adventure</h1>

            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>{{ error|escape }}
            </div>
            {% endfor %}



            <form class="form-signin" action="{% url 'chargen:my-login' %}" method="POST">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="text" name="username" id="inputEmail" class="form-control" placeholder="User name" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

              <!-- TODO 
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              -->
              
               {% csrf_token %}
             
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

          </div>

{% endblock %}