        <div ng-hide="authenticated" class="jumbotron">
          <h1>Enter an Age of High Adventure</h1> 
          <p>Exordium is a character creation aid for the &ldquo;Barbarians of Lemuria&rdquo; pen and paper roleplaying game.</p> 
          <ul class="list-inline">
            <li>Already registered? <a href="#login">Login!</a></li>
            <li>Not registered yet? <a href="#sign-up">Signup!</a></li>
          </ul>
        </div> <!-- end jumbotron -->

        <div id="editor-panel" ng-show="authenticated" class="panel panel-default">
          <div class="panel-body">    
            <div class="row">
              <nav id="character-selector" class="col-sm-3">
                <ul class="nav nav-stacked">
                  <li ng-show="showNewCharacterLink" class="selected"><a href="">New Character <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                  <li ng-repeat="character in characters | orderBy:'name'" ng-class="{ selected: isEditing(character.id) }"><a href="" ng-href="#/character/{{character.id}}">{{character.name}} <span class="glyphicon glyphicon-chevron-right pull-right hidden-xs" ng-show="isEditing(character.id)"></span></a></li>
                </ul>
              </nav> <!-- end #character-selector-->
              <form id="character-editor" name="characterForm" class="col-sm-9" ng-submit="saveCharacter()">
                <input type="hidden" ng-model="currentCharacter.id">
                <div class="form-group">
                  <label for="name" class="control-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Character name" required ng-model="currentCharacter.name">
                </div>
                <p ng-show="badAttributePoints" class="bg-danger">Attribute points are not assigned correctly.</p>
                <div id="attribute-row" class="row">
                  <div class="form-group col-xs-2">
                    <label for="unassigned-field" class="control-label spinner-label">Unassigned</label>
                    <input type="number" min="0" max="5" class="form-control spinner-field" id="unassigned-field" readonly ng-model="currentCharacter.unassigned_attribute_points">
                  </div>
                  <div id="attribute-equals" class="col-sm-1 hidden-xs">
                    <p><span class="glyphicon glyphicon-resize-horizontal"></span></p>
                  </div>
                  <div class="form-group col-xs-2">
                    <label class ="control-label spinner-label">Strength</label>
                    <spinner-widget id="strength-spinner" ng-model="currentCharacter.strength" increment='increment("strength")' decrement='decrement("strength")'></spinner-widget>
                  </div>
                  <div class="form-group col-xs-2">
                    <label class ="control-label spinner-label">Agility</label>
                    <spinner-widget id="agility-spinner" ng-model="currentCharacter.agility" increment='increment("agility")' decrement='decrement("agility")'></spinner-widget>
                  </div>
                  <div class="form-group col-xs-2">
                    <label class ="control-label spinner-label">Mind</label>
                    <spinner-widget id="mind-spinner" ng-model="currentCharacter.mind" increment='increment("mind")' decrement='decrement("mind")'></spinner-widget>
                  </div>
                  <div class="form-group col-xs-2">
                    <label class ="control-label spinner-label">Appeal</label>
                    <spinner-widget id="appeal-spinner" ng-model="currentCharacter.appeal" increment='increment("appeal")' decrement='decrement("appeal")'></spinner-widget>
                  </div>    
                </div> <!-- end new spinner row -->
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" ng-disabled='!showNewCharacterLink && !characterForm.$dirty'><span class="glyphicon glyphicon-ok-circle"></span> Save</button> <button type="button" class="btn btn-primary" ng-click="deleteCharacter(currentCharacter.id)" ng-show="currentCharacter.id"><span class="glyphicon glyphicon-remove-circle"></span> Delete</button>
                </div>    
              </form>              
            </div>
          </div> 
        </div> <!-- end #editor-panel -->